services:
  db:
    container_name: iot-pcd-db
    image: mysql
    restart: always
    network_mode: host
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes 
      MYSQL_ROOT_PASSWORD:    
    ports:
      - 3306:3306
    volumes:
      - iot_db_data:/var/lib/mysql
    healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
        interval: 10s
        timeout: 5s
        retries: 5

  wui:
    container_name: iot-pcd-wui
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    network_mode: host
    ports:
      - 5000:5000
    depends_on:
      db:
        condition: service_healthy

volumes:
  iot_db_data: