services:
  db:
    container_name: iot-pcd-db
    image: mariadb:11.8.2-noble
    restart: always
    network_mode: host
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: yes 
      MARIADB_ROOT_PASSWORD:
    ports:
      - 3306:3306
    volumes:
      - iot_db_data:/var/lib/mysql
    healthcheck:
        test: [ "CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized" ]
        start_period: 1m
        start_interval: 10s
        interval: 1m
        timeout: 5s
        retries: 3
  wui:
    container_name: iot-pcd-wui
    build:
      context: ..
      dockerfile: serveur/Dockerfile
    restart: always
    network_mode: host
    ports:
      - 5000:5000
    depends_on:
      db:
        condition: service_healthy

volumes:
  iot_db_data: